@font-face {
    font-family: 'bankgothic_lt_btlight';
    src: url('../fonts/bank_gothic_light_bt-webfont.woff2' ) format('woff2'),
         url('../fonts/bank_gothic_light_bt-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.royalSlider {
  width: 100%;
  height: 350px;
}
.logoMain{
	width:300px;
}
.socialIcons{
	font-size: 1.5em;
}
.bar_group{
	padding-left:25px;
}

.container-fluid{
	margin:0;
	padding:0;
}

.siteHeader{
	height:150px;
/* 	line-height: 150px; */
}

.header1Stripe{
	margin:0;
	padding:0;
	width:100%;
	height:60px;
	line-height: 60px;
	background-color:black;
	color:white;
/* 	font-size:1.2em; */
}

h2{
	font-family:'bankgothic_lt_btlight';
}

h3{
	font-family:'bankgothic_lt_btlight';
	margin-left:25px;
}

.network-nav{
	line-height: 150px;
	margin:0;
	padding:0;
}
.network-nav li {
    float: right;
    font-size: large;
	font-family:'bankgothic_lt_btlight';
	color:black;
	font-size: 1.75em;
}
.network-nav a{
	text-decoration: none;
	color:black;
}
.network-nav a:hover{
	color:gold;
}
.header_logo{
	
}
.petta_footer{
/* 	background-color:#dba53c; */
	background-color:black;
	height:200px;
	color:white;
}

.mainText{
	margin:25px;
	padding:10px;
	color:#797979;
	
}

.slogan_text{
	color:#dba53c;
	line-height: 30px;
	height:30px;
	font-size: 25px;
	margin:30px;
}

.spacer{
	height:100px;
}
.footerAddress{
	margin-left:25px;
}

.tprosLogo{
	margin-left:25px;
	margin-bottom:20px;
}

a.bottom{
	color:white;
}
.heroText{
	left: 0;
    position:absolute;
/*     text-align:center; */
	top: 300px;
    width: 100%;
    font-size: 45px;
/* 	font-weight: 100; */
    line-height: 40px;
    margin-left:25px;
}

.heroTextEmp1{
	font-weight:300;
}
.heroTexEmp{
	font-weight:500;
}





/* NAV SHIT */
/* navbar */
.navbar-default {
    background-color: #ffffff;
    border-color: #ffffff;
    font-family: 'bankgothic_lt_btlight';
/*     margin-top: 50px; */
}
/* Title */
.navbar-default .navbar-brand {
    color: #777;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: #777;
	color: #333;
/*     line-height: 100px; */
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
    color: gold;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #E7E7E7;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: #555;
    background-color: #D5D5D5;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 767px) {
	
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
          color: #333;
    }
}
/*
@media (max-width: 767px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
*/

@media(max-width:767px){
	.navbar-default {
		font-size: 1.4em;
	    margin-top: 5px;
	}
}
@media(min-width:768px){
	.navbar-default {
		font-size: 1.4em;
	    margin-top: 5px;
	}
}
@media(min-width:992px){
	.navbar-default {
	    font-size: 1.2em;
	    margin-top: 50px;
	}
}
@media(min-width:1200px){
	.navbar-default {
	    font-size: 1.4em;		
	    margin-top: 50px;
	}
}